$icon-font-path: "../bower_components/bootstrap-sass-official/assets/fonts/bootstrap/";
// bower:scss
@import "bootstrap-sass-official/assets/stylesheets/_bootstrap.scss";
// endbower

/* Css for Browser Support section*/
.browsehappy {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

body {
  padding: 0;
}

/* Custom page header */
.header {
  border-bottom: 1px solid #e5e5e5;
  margin-bottom: 10px;
  padding-left: 0;
  padding-right: 0;
  margin-bottom: 30px;
}
  
.header-top {
	background: #017;

	.header-right {
		float: right;
		//margin-top: 4px;

		ul {
			margin: 0.2em 0 0.2em 0;
			float: left;
		}

		li {
			display: inline-block;
		}

		a {
			text-decoration: none;
			color:#fff;
			font-size: 1.1em;
			margin: 0 2em 0 0;
			align: center;
			
			&:hover { color:#AED; }
		}
	}

	/* Cart Box styling */
	.cart.box {
		float: right;
		height: 2.3em;
		background: #fff;
		
		a {
			text-decoration: none;
			color:black;
			font-size: 1.1em;
			margin: 1em 2em;
		}
		
		/*  CSS for Dropdown that opensup when cart is clicked */
		.dropdown-menu {
			left: -17em;
			min-width: 25em;
			
			.prodimg img {
				height: 5.1em;
				width: 4em;
			}
			
			.delimg img {
				height: 1.1em;
				width: 1em;
			}
		}
		
		/* Cart Icon */
		.icon img{
			height: 1.1em;
			width: 1em;
			vertical-align: middle;
		}
	}
}

/*
	Cart Slim Scrollbar
*/
#cartmenu::-webkit-scrollbar { width:5px;} 
#cartmenu::-webkit-scrollbar-thumb { background-color:lightgray;border-radius:10px; }

/*
	CSS for Cart product count 
*/
.cartcount{
    font-size: 10px;
    background: #ff0000;
    color: #fff;
    padding: 1px 5px;
    vertical-align: top;
    width: 1em;
	height: .6em;
	//background: red; 
	-moz-border-radius: .5em; 
	-webkit-border-radius: .5em; 
	border-radius: .5em;
}

/* 
  Before page load, unprocessed angular code was showing up but ng-cloak 
  couldn't came to the resque as a whole. That's why added this to make it work.
 */
[ng\:cloak], [ng-cloak], .ng-cloak {
  display: none !important;
}

